@media (max-width:1025px){
    .animated{
		height: 500px;
	}


}
@media(max-width:992px){
    .navigation{
        display: none;
    }
    nav{
        display: none;
    }

    nav .wrapper{
        display: none;
    }
    .zeynep{
        display: block;
      }
      
      main, h1, .lead, .btn-open{
        display: block;
      }

      .zeynep {
        top: 0;
        bottom: 0;
        position: fixed;
        overflow: hidden;
        overflow-y: auto;
        z-index: 1011;
        pointer-events: none;
        transform: translateX(-100%) translateZ(0px);
        -webkit-overflow-scrolling: touch;
      }
      
      .zeynep:not(.no-transition),
      .zeynep .submenu:not(.no-transition) {
        /* if transitions are not disabled */
        transition: all 250ms;
      }
      
      .zeynep-overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        position: fixed;
        z-index: 1010;
        background-color: rgba(0, 0, 0, .42);
      }
      
      .zeynep-opened .zeynep-overlay {
        display: block;
      }
      
      .zeynep.opened {
        pointer-events: auto;
        transform: translateX(0px) translateZ(0px);
      }
      
      .zeynep.submenu-opened {
        overflow: hidden;
      }
      
      .zeynep .submenu {
        top: 0;
        bottom: 0;
        min-height: 100%;
        overflow: hidden;
        overflow-y: auto;
        position: fixed;
        width: 100%;
        pointer-events: none;
        -webkit-overflow-scrolling: touch;
      }
      
      .zeynep .submenu.opened {
        left: 0;
        pointer-events: auto;
      }
      
      .zeynep .submenu.opened:not(.current) {
        overflow: hidden;
      }

      /* right side menu specific styles */
body {
    right: 0;
  }
  
  .zeynep-opened body {
    overflow: hidden;
  }
  
  .zeynep.right {
    left: auto;
    right: 0;
  }
  .zeynep.right:not(.opened) {
    transform: translateX(100%);
  }




    .top{
        height: auto;
    }
    .animated{
        height: auto;
    }
    .trending1{
      padding: 30px;
  }

  .abroadc:hover{
    
    transition: none !important;
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    z-index: 2;
}
  .q2{
      margin-top:40px;
  }
  .q3{
      margin-top: 40px;
  }

  .apps{
      padding: 35px;
  }
  .app1{
      padding-top: 25px;
      font-size:35px;
  }
  .apply{
      display: none;
  }
  .outer{
      display: none;
  }
  .in{
      display: none;
  }
  /*.footer{
      text-align: center;
  }
  .logos{
      text-align: center;
  }
  .social{
      text-align: center;
  }*/
  .s11{
      display: flex;
      align-items: center;
      justify-content: center;	
  }
  .textbox{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .questions{
      padding:0px 40px;
  }




  .s33{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .s3{
      margin-top: 30px;
  }
  .f1{
      border-bottom: none;
      border-right: none;
  }
  .f1 ul{
      padding-left: 30px;
      
  }
  .f1 ul{
      font-size: 22px;
  }
  .toph6{
      font-size: 26px;
  }

 hr{
     width: 2px;
     color: #FFA500;
 }

/***************************About Us.html***************************/











/*********************************service.html***********************/


.counseling:hover{
    
    transition: none !important;
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    z-index: 2;
}

.counseling2:hover{
    
    transition: none !important;
    -webkit-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    z-index: 2;
}






}
@media (max-width:768px){
    .navigation{
        display: none;
    }
    nav{
        display: none;
    }

    nav .wrapper{
        display: none;
    }
    
    .top{
        height: auto;
        padding-bottom: 40px;
    }
    
    .trending1{
      padding: 20px;
  }

  .c1{
      margin: 0px;

  }

 
  .selecth, .abroadh, .assisth, .domain{
      font-size: 14px;
  }
    .f1{
        padding-left: 5px;
    }
    
    .s33{
      display: flex;
      align-items: center;
      justify-content: center;
  }

    .s3{
      margin-top: 30px;
  }

  .select1h{
      font-size: 12px;
    
  }
  .para li{
      font-size: 12px;
  }
  .caption{
      font-size: 14px;
  }
  .abouth5{
      font-size: 16px;
  }

/*---------------------app------------------*/
  .apps{
      padding: 30px;
  }

/*-------------------Questions----------*/
  .questions{
      padding:0px 40px;
  }
  .q2{
      margin-top:40px;
  }
  .q3{
      margin-top: 40px;
  }

  .footer1{
      padding: 0 10px;
  }
  .f1{
      padding-left: 0px;
  }
  .f1 ul{
      padding-left: 0px;
  }
 
  hr{
      display: none;
  }
/*************************About.html*************************/
.tech img{
    width: 150px;
    height: 100px;
}
.iit h5{
    font-size: 17px;
}

.rating1{
    padding-top: 5px;
}

.ratings p{
    font-size: 30px;
    text-align: right;
}
.a1{
   font-size: 30px; 
}
.a2{
    font-size: 14px;
}
.brochure{
    margin-top: 10px;
}


/****************blog.html*******************/
.bloghs h1{
    font-size: 35px;
}
    
}

@media (max-width:580px){
  .top{
      height: auto;
      padding-bottom: 2px;
  
  }
 /* .section2{
       background-color: yellowgreen;
       margin: 0px;
       padding: 0px;
  }*/
  
  .trendingp{
      font-size: 10px;
  }
   #header3{
       margin-top: 20px;
     
      
      
   }
 
   
  .eventul li{
      font-size: 16px;
  }
  .study1{
      font-size:23px;
      
  }
  /*.study{
      display: none;
  }*/
  .study{
      margin-top: 100px;
  }
  .flag{
      display: none;
  }
  .countries{
      display: none;
  }
  .event{
      display:block;
      align-items: center;
      justify-content: center;
  }
  /*.eventul{
      padding: 20px;
  }*/
  .eventul li{
      
      display: block;
      align-items: center;
      justify-content: center;
      font-size: 18px;
  }
  .eventbtn{
      width: 200px;
      font-size: 15px;
      align-items: center;
  }
  .cam{
      width: 35px;
      height: 35px;
  
      align-items: center;
  }
  .course{
      padding-top:30px;
    padding-bottom: 30px;
  }
  .course1{
      margin-top: 20px;
      padding:0px 30px;
  }
  .in{
      display: none;
  }
  .apply{
      display: none;
  }

  .trending1{
      padding: 0px;
  }
  .trend1{
      padding: 0px;
      align-items: left;
  }
  .trend1 img{
      width: 25px;
      height: 30px;
  }
  .trend1 p{
    font-size: 14px;
}
  .trend2{
      font-size: 13px;
  }

  .abouth{
      font-size: 16px;
     
  }


  .p1{
      font-size:12px ;
  }
  .h21{
      font-size: 19px;
  }

  .course{
      margin-top: 15px;
  }
  .domain{
      font-size: 22px;
  }
  .domainh5{
      font-size: 16px;
  }
  .select{
      margin-top: 30px;
  }
  .selecth{
      font-size: 20px;
  }

  
  /*.selectim{
      background-color: #FFA500;
      padding: 30px;
  }*/
  .select1{
      margin-top: 20px;
      padding: 0px 30px;
      
  }
  

  .abroad{
      margin-top: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .abroadh{
      font-size: 20px;
  }
  .abroadh5{
      font-size: 14px;
  }
  .btn4{
    width:160px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px;
  }

  .read{
      margin-top: 0px;
    width:160px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
    font-size: 16px; 
  }
  .abroadh1{
      font-size: 20px;
  
  }
  .assist{
      margin-top: 30px;
      padding-top: 30px;
      padding-bottom: 20px;
  }
  .assisth{
      font-size: 20px;
  }
  .para li{
      list-style-type: square;
  }

  .blog{
      margin-top: 30px;
   
  }
  .slides{
      padding: 0px;
      margin:0px;
  }
  .infoh{
      font-size: 20px;
  }
  .info p{
      font-size: 14;
      margin: 0px;
      padding: 0px;
  } 
  .swiper{
      margin-top: 20px;
     
  }
  .blogh{
      font-size: 27px;
  }
  .imh{
      font-size: 27px;
  }
/*-------------------Subscribe--------------------*/
  .subscribe{
      margin-top: 40px;
  }
  .s1{
      font-size: 20px;
  }
  .s33{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .s3{
      margin-top: 30px;
  }
  
  
  /*.caption{
      font-size: 22px;
  }*/
  /*.para{
      font-size: 15px;
  }*/

/*-------------------app---------------*/
    .app{
        margin-top: 40px;
    }
   .app1{
       padding-top: 5px;
       font-size:22px;
   }
   .apps{
       padding: 20px;
   }
   

   /*----------------questions-------------*/
    .question{
        margin-top: 30px;
    }
    .questions{
        padding: 20px;
    }


  .q2{
      margin-top:30px;
  }
  .q3{
      margin-top: 20px;
  }

  /*----------------footer-------*/
  /*.footer1{
      padding: 40px;
  }*/
  /*.footer{
      margin-top: 30px;
  }
 .footer1{
     padding: 0 50px;
 }
  .f1 ul{
      padding-left: 20px;
      
  }*/
  .footer{
      margin-top: 20px;
  }
  .toph6{
      font-size: 16px;
  }

  .ids img{
      width: 20px;
      height: 20px;
  }
  .ids{
      font-size: 13px;
  }
  .social1{
      font-size: 13px;
  }
  Address{
   font-size: 13px;
  }
  .f1 ul li a{
      font-size: 13px;
  }
  .copy1 p{
 font-size: 12px;
  }


  /***************************Colleges.html***************************************/
 .filters{
     overflow: visible;
     overflow-y: hidden;
 }
  .filtersul li{
    display: inline;
}

/***************************About Us.html***************************/
.servs h1, .mission h1, .abouth{
    font-size:25px;

}
.numh3, .numh6, .go1 h2, .reviewp1 p, .speaks h3{
    font-size: 20px;
}


.stari i {
    font-size: 30px;
}
.visionp, .texts{
    font-size: 16px;
}


/************************Blog.html**************************/
.blogsw{
    height: 250px;
}
.bloghs{

    height: auto;
    padding-top: 80px;
}
.searching{
    margin: 20px;
}

.techno img{
    height: 200px;
}
.cb ul li a{
    font-size: 13px;
}
.cb ul li a i{
    font-size: 13px;
}
.technoh5{
    font-size: 20px;
}

.technop{
    font-size: 14px;
}

/*********************************contact.html***********************/
form{
    padding: 15px;
}
.rowss{
    margin-right: 10px;
}
.contacth1{
    font-size: 25px;
   
    text-align: center;
  
    font-family: "Averta-Semibold";
   
    
}
.loc1{
  font-size: 23px;
}
.loc2{
 font-size: 18px;
}
.locp{
 font-size: 15px;
}



/************************Exams.html****************************/
.entrance{
    height: 300px;
}
.entranceh1 h1{
 font-size: 25px;
 margin-top: 80px;
}
.exploreh1{
    font-size: 22px;
}
.exploreh2{
    font-size: 19px;
}
.exploreim{
    border-right: none;
    border-bottom: 1px solid gray;
}
/************************Top Courses.html**********************/
.courseimg img{
 
    height: 250px;
}
.courserow{
    position:absolute;
    top: 30%;
    left: 0%;
    padding: 15px;
   }
   .courseh11 h2{
    font-family: "Averta-Semibold";
    font-size: 20px;
    padding-left: 16px;

   }
   .topcoursesh1{
       font-size: 19px;
   }
   .choicet{
       font-size: 14px;
   }

   /****************************News.html***************************/
   .newsi i{
    font-size: 40px;
  }
  
}



@media (max-width:320px){
    .study1{
        font-size:25px;
    }
    .in{
      display: none;
  }

    .abouth{
      font-size: 16px;
  }
  .p1{
      font-size: 12px;
  }
  .trendingp{
      font-size: 10px;
  }
  
}