
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 /*----------------------top-----------------------------*/
 .top{
    width: 100%;
    height:690px;
    background-image:url("images/39695.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
 /*---------------------Navigation Bar----------------------*/ 
nav{
 
 position: relative;
  z-index: 99;
  width: 100%;
  padding-top: 20px;
 
}
nav .wrapper{
  position:relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #151B54;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
/*.btns{
    background-color: #151B54;
    color: white;
    border-radius: 20px;
    width: 130px;
    height: 60px;
    
  }*/
  .nav-links li .active{
    background: #151B54;
    color: #FFA500; 
    margin-right: 10px;
    margin-left: 5px;
  }
.nav-links li a:hover{
  background: #151B54;
  color: #FFA500;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: whitesmoke;
  width: 180px;
  line-height: 45px;
  top: 85px;
 opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
 opacity: 1;
  visibility: visible;
  color: #FFA500;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position:absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background:whitesmoke;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 35px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: #151B54;
  font-size: 17px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -30px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: #151B54;
  font-size: 13px;
  display: block;
}
.row .mega-links li a:hover{
  color: #FFA500;
}
.wrapper .btn{
  color:#151B54;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background:whitesmoke;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 12px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #151B54;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #151B54;
    color: #FFA500;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 17px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255,255,255,0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
 /*----------------------end Navigation bar-----------------*/
  
 .study{

    width: 100%;
    height:400px;
    align-items: center;
    justify-content: center;
  }
  
  .study1{
    
    font-weight: 800;
    font-family: "AvertaStd-Regular",sans-serif;
    text-align: center;
    font-size: 50px;
    color: #151B54;
  }
  .flag{
    background-color: #151B54;
    padding: 20px;
    
  }
  .flags{
    background-color: white;
   padding: 5px;
  }
  .uk{
    font-weight: 700;
    font-size: 17px;
    color: #FFA500;
    font-family: "AvertaStd-Regular",sans-serif;
    
  
  }
  .ii{
    background-color: white;
  }
  .in{
   padding-right: 0px;
   margin-right: 0px;
  }
  .icon{
    float: right;
    padding: 3px;
    margin-right: 0px;
   border: 2px solid  #FFA500 ;
  }
  .social2{
    font-size: 22px;
    font-family: "AvertaStd-Regular",sans-serif;
    
   
  }
  .eventul{
    margin-top: 20px;
  }
  .eventul li{
   display: inline;
   padding:15px;
   font-size: 22px;
   font-weight: 700;
   color: #151B54;
   font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .eventbtn{
    background-color: #FFA500;
    color: white;
    font-size:22px;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px;
    width: 220px;
    border:none;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  
  
  .outer h4{
  
   background-color: #FFA500;
   border:none;
   color: white;
    position:relative;
    letter-spacing: 4px;
    writing-mode: vertical-rl;
    left:-30px;
    top:40%;
    transform: rotate(180deg);
    padding: 6px;
    font-weight: 700;
    font-family: "AvertaStd-Regular",sans-serif;
    
  
  }
  
  
  
  /*-------------------------trending------------------------*/
  .trending{
    height: auto;
    background-color:#E5E4E2;
  }
  .trend1 p{
    font-size: 22px;
    font-weight:600;
    color: #E8A317;
    font-family: "AvertaStd-Regular",sans-serif;
    
  
  }
  .trend2{
    color:#151B54;
    font-weight: 600;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  
    /*----------------------header3--------------------------*/
    #header3{
       
        margin-top:80px;
    }
  
    .abouth{
      font-weight: 700;
      color: #FFA500;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
   
     
    .p1{
      color:black;
      line-height: 26px;
      font-weight: 500;
      font-size: 13px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .h21{
      font-weight: 700;
      color: #FFA500;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    /*--------------------course---------------------------*/
    .course{
        margin-top: 80px;
        background-color:#E5E4E2;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    .domain{
      font-weight: 700;
      color:#151B54;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .course1{
      margin-top: 60px;
    }
  
    .eng{
      margin-top: 10px;
      font-weight:700;
      text-decoration: underline;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .cour{
      color: black;
      font-weight: 600;
      font-size: 12px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    
    .c2{
      background-color: tomato;
      width: 200px;
      height: 200px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
    }
    .c1{
        width: 200px;
        height: 200px;
       margin: 15px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
      background-color: white;
  
    }
   
    /*-------------------select---------------------------*/
    .select{
        margin-top: 100px;
    }
    .selecth{
      font-weight: 700;
      color:#151B54;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    
    .select1{
      margin-top: 50px;
    }
    .select2{
        margin-top: 50px;
    }
    .select1h{
      font-weight: 700;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  
    /*-----------------------abroad-------------------------*/
    .abroad{
      margin-top: 120px;
      background-color:  #E5E4E2;
      padding-top:60px;
      padding-bottom: 100px;
    }
    .abroadh{
      text-align: center;
      font-weight: 800;
      color:#151B54;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .card{
      padding-bottom: 40px;
      background-color:  #E5E4E2;
    }
    .card-deck{
      margin-top: 40px;
    }
    .card-body{
      border-bottom:4px solid #E5E4E2;
     
    }
    .card-title{
      font-weight: 700;
      font-size: 25px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  
    .btn4{
      width: 300px;
      height: 70px;
      padding: 16px;
      margin-top: 30px;
      font-size: 25px;
      font-weight: 700;
      border-radius: 50px;
      background-color:#151B54;
      color: white;
      align-items: center;
      justify-content: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .abroadh1{
      text-align: center;
      text-decoration: underline;
      font-weight: 700;
      color:#151B54;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    /*------------------assist-----------------------*/
    .assist{
        margin-top: 80px;
        background-color: #151B54;
        padding-top: 60px;
        padding-bottom: 100px;
        
    }
    .assisth{
      font-weight: 700;
      color:#FFA500;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .assistr{
      margin-top:50px;
    }
    .assistr1{
      margin-top: 50px;
    }
    .caption{
      margin-top: 20px;
      color:#FFA500;
      font-weight: 700;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .para{
        color: white;
        font-family: "AvertaStd-Regular",sans-serif;
    
    }
  
    /*-----------------------blog---------------------*/
    .blog{
      margin-top: 100px;
    }
    .blogh{
      color: #151B54;
      font-weight: 700;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .swiper {
      margin-top: 60px;
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      align-items: center;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
   
    .infoh{
      font-weight: 700;
      padding-top: 20px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  
    .read{
      width: 200px;
      padding: 12px;
      background-color:#151B54;
      color: white;
      justify-content: center;
      text-align: center;
      border-radius: 50px;
      font-size: 24px;
      font-weight: 700;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    /*--------------------------Image------------------*/
  .imh{
    font-weight: 700;
    color: #151B54;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  
  
  
  
  /*------------------------Subscribe-----------------*/
    .subscribe{
      margin-top: 100px;
      width: 100%;
      height: auto;
      background-color:#151B54; 
      padding: 20px;
    }
    .s1{
      color:#FFA500;
      font-weight: 700;
      font-size: 30px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .textbox{
      border-bottom: 2px solid whitesmoke;
    }
    .textbox input{
      color: whitesmoke;
      font-weight: 700;
      font-size: 20px;
      border-bottom: 3px solid whitesmoke;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
      background-color: #151B54;
      border:none;
      outline: none;
    
    }
    
   
    
    .s3{
      width:160px;
     border-radius: 50px;
     padding: 10px;
      background-color:#FFA500;
      color: whitesmoke;
      font-weight: 700;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  /*--------------------app------------------*/
  .app{
      width: 100%;
      margin-top: 100px;
     background-color:#E5E4E2;
  }
  
  .google{
    border-radius: 50px;
    width:200px;
  }
  .app1{
    font-weight: 700;
    color:#151B54;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .app2{
    color: #FFA500;
    font-weight: 700;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  /*---------------------Question---------------------*/
  .question{
    width: 100%;
    padding:15px;
    margin-top: 100px;
  }
  .que1{
    color: #151B54;
    font-weight: 700;
    font-size: 25px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .que2{
    color: #FFA500;
    font-weight: 700;
    font-size: 12px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .q2{
    border-radius: 30px;
    background-color:#151B54;
    color: whitesmoke;
    padding: 25px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  .btn1{
    width:120px;
   padding: 12px;
    border-radius: 50px;
    background-color:#E8A317;
    color: white;
    font-weight: 600;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .q3{
    border-radius: 30px;
    background-color:#151B54;
    color: whitesmoke;
    padding: 25px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .btn2{
    width:120px;
   padding: 12px;
    border-radius: 50px;
    background-color:#E8A317;
    color: white;
    font-weight: 600;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  /*-----------------------footer----------------*/
  .footer{
      background-color:#151B54;
      color: whitesmoke;
      /*text-align: center;*/
      padding-top: 20px;
      margin-top: 120px;
      font-family: "AvertaStd-Regular",sans-serif;
    
  }
  ul li {
      text-decoration: none;
      list-style-type: none;
  }
  ul li a{
   color: whitesmoke;
  line-height: 30px;
  }
  .f1{
      border-right: 3px solid whitesmoke;
      border-bottom: 2px solid #FFA500;
      padding-left: 20px;
  }
  .toph6{
    font-weight: 700;
    color: #FFA500;
  }
  .social1{
    display: inline;
    font-size: 22px;
    padding-right: 5px;
  }
  .logos{
    text-align: left;
  }
  
  
  
  /*------------------------copyright-------------------*/
  .copyright{
      background-color:#E8A317;
      padding-top: 10px;
  }
  .copy1{
      text-align: center;
      color: whitesmoke;
  }