
@font-face {
  font-family: 'AvertaStd-Regular' ;
  src: url(Avertafont/AvertaStd-Regular.ttf);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

 /*----------------------top-----------------------------*/
 .navigation{
   width: 100%;
   height: 60px;
   padding-top:20px ;
 
 }
 .nav1 li{
 display: inline;
 list-style: none;
 margin: 10px;
 color: black;
 }
 .nav1 li a{
   text-decoration: none;
   color: black;
   color: #151B54;
   text-decoration: none;
   font-size: 18px;
   font-weight: 500;
   padding: 9px 15px;
   border-radius: 5px;
   transition: all 0.3s ease;
 }
 .nav1 li a:hover{
  background: #151B54;
  color: #FFA500;
 }
 .top{
    width: 100%;
    height:690px;
    background-image:url("images/39695.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
 /*---------------------Navigation Bar----------------------*/ 
nav{
 
 position: relative;
  z-index: 99;
  width: 100%;
  padding-top: 20px;
 
}
.zeynep{
  display: none;
}
main,  .lead, .btn-open{
  display: none;
}

nav .wrapper{
  position:relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: #f2f2f2;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #151B54;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

  .nav-links li .active{
    background: #151B54;
    color: #FFA500; 
    margin-right: 10px;
    margin-left: 5px;
  }
.nav-links li a:hover{
  background: #151B54;
  color: #FFA500;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: whitesmoke;
  width: 180px;
  line-height: 45px;
  top: 85px;
 opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
 opacity: 1;
  visibility: visible;
  color: #FFA500;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.mega-box{
  position:absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box{
  background:whitesmoke;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.content{
  width: calc(25% - 30px);
  line-height: 35px;
}

.anim{
 
  width: calc(75% - 30px);
  line-height: 35px;
}
.First .active{
  color: #FFA500;
  background-color: #E5E4E2;
}


.content .row header{
  color: #151B54;
  font-size: 17px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -30px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;

  font-size: 13px;
  display: block;
}

.row .mega-links li a:hover{
  color: #FFA500;
}
.wrapper .btn{
  color:#151B54;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}


nav input{
  display: none;
}




.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
 /*----------------------end Navigation bar-----------------*/
  
 .study{

    width: 100%;
    height:400px;
    align-items: center;
    justify-content: center;
  }
  
  .study1{
    
    font-weight: 800;
    font-family: "AvertaStd-Regular",sans-serif;
    text-align: center;
    font-size: 50px;
    color: #151B54;
  }
  .flag{
    background-color: #151B54;
    padding: 20px;
    
  }
  .flags{
    background-color: white;
   padding: 5px;
  }
  .uk{
    font-weight: 700;
    font-size: 17px;
    color: #FFA500;
    font-family: "AvertaStd-Regular",sans-serif;
    
  
  }
  .ii{
    background-color: white;
  }

  .searchi i{
    color:black; font-size: 30px; padding: 5px;
  }
  .in{
   padding-right: 0px;
   margin-right: 0px;
  }
  .icon{
    float: right;
    padding: 3px;
    margin-right: 0px;
   border: 2px solid  #FFA500 ;
  }
  .social2{
    font-size: 22px;
    font-family: "AvertaStd-Regular",sans-serif;
    
   
  }
  .eventul{
    margin-top: 20px;
  }
  .eventul li{
   display: inline;
   padding:15px;
   font-size: 22px;
   font-weight: 700;
   color: #151B54;
   font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .eventbtn{
    background-color: #FFA500;
    color: white;
    font-size:22px;
    font-weight: 700;
    border-radius: 50px;
    padding: 10px;
    width: 220px;
    border:none;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  
  
  .outer h4{
  
   background-color: #FFA500;
   border:none;
   color: white;
    position:relative;
    letter-spacing: 4px;
    writing-mode: vertical-rl;
    left:-30px;
    top:40%;
    transform: rotate(180deg);
    padding: 6px;
    font-weight: 700;
    font-family: "AvertaStd-Regular",sans-serif;
    
  
  }
  
  
  
  /*-------------------------trending------------------------*/
  .trending{
    height: auto;
    background-color:#E5E4E2;
  }
  .trend1 p{
    font-size: 22px;
    font-weight:600;
    color: #E8A317;
    font-family: "AvertaStd-Regular",sans-serif;
    
  
  }
  .trend2{
    color:#151B54;
    font-weight: 600;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  
    /*----------------------header3--------------------------*/
    #header3{
       
        margin-top:80px;
    }
  
    .abouth{
      font-weight: 700;
      color: #FFA500;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
   
     
    .p1{
      color:black;
      line-height: 26px;
      font-weight: 500;
      font-size: 13px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .h21{
      font-weight: 700;
      color: #FFA500;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    /*--------------------course---------------------------*/
    .course{
        margin-top: 80px;
        background-color:#E5E4E2;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    
    .domain{
      font-weight: 700;
      color:#151B54;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }

    .domainh5{
      text-align: center; 
    }
    .course1{
      margin-top: 60px;
    }
  
    .eng{
      margin-top: 10px;
      font-weight:700;
      text-decoration: underline;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .cour{
      color: black;
      font-weight: 600;
      font-size: 12px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    
    .c2{
      background-color: tomato;
      width: 200px;
      height: 200px;
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
    }
    .c1{
        width: 200px;
        height: 200px;
       margin: 15px;
     
  
    }
    .cc2{
      box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
      background-color: white;
  
    }
   
   
    /*-------------------select---------------------------*/
    .select{
        margin-top: 100px;
    }
    .selecth{
      font-weight: 700;
      color:#151B54;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    
    .select1{
      margin-top: 50px;
    }
    .select2{
        margin-top: 50px;
    }
    .select1h{
      font-weight: 700;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  
    /*-----------------------abroad-------------------------*/
    .abroad{
      margin-top: 120px;
      background-color:  #E5E4E2;
      padding-top:60px;
      padding-bottom: 100px;
    }
    .abroadh{
      text-align: center;
      font-weight: 800;
      color:#151B54;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .abroadh5{
      text-align: center;
    }
    .abroadc{
      padding-bottom: 40px;
      background-color:  #E5E4E2;
      box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
    }
    .abroadc:hover{
 
      transition: all 0.3s ease !important;
      -webkit-transform: scale(1.1) !important;
      -ms-transform: scale(1.1) !important;
      z-index: 2;
     }
    .card-deck{
      margin-top: 40px;
    }
    .card-body{
      border-bottom:4px solid #E5E4E2;
     
    }
    .card-title{
      font-weight: 700;
      font-size: 25px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  
    .btn4{
      width: 200px;
      height: 70px;
      padding: 14px;
      margin-top: 30px;
      font-size: 25px;
      font-weight: 700;
      border-radius: 50px;
      background-color:#151B54;
      color: white;
      align-items: center;
      justify-content: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .abroadh1{
      text-align: center;
      text-decoration: underline;
      font-weight: 700;
      color:#151B54;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    /*------------------assist-----------------------*/
    .assist{
        margin-top: 80px;
        background-color: #151B54;
        padding-top: 60px;
        padding-bottom: 100px;
        
    }
    .assisth{
      font-weight: 700;
      color:#FFA500;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .assith5 {
      text-align: center; 
      color: white;
    }
    .assistr{
      margin-top:50px;
    }
    
    .caption{
      margin-top: 20px;
      color:#FFA500;
      font-weight: 700;
      text-align: left;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .para{
        color: white;
        font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .para li{
      list-style-type: square;
  }
  
    /*-----------------------blog---------------------*/
    .blog{
      margin-top: 100px;
    }
    .blogh{
      color: #151B54;
      font-weight: 700;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .swiper {
      margin-top: 60px;
      width: 100%;
      height: 100%;
    }
  
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      align-items: center;
    }
  
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
   
    .infoh{
      font-weight: 700;
      padding-top: 20px;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    .infoh a{
      color: black;
    }
    .infoh a:hover{
      color: #FFA500;
    }
  
    .read{
      width: 200px;
      padding: 12px;
      background-color:#151B54;
      color: white;
      justify-content: center;
      text-align: center;
      border-radius: 50px;
      font-size: 24px;
      font-weight: 700;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
    /*--------------------------Image------------------*/
  .imh{
    font-weight: 700;
    color: #151B54;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  
  
  
  
  /*------------------------Subscribe-----------------*/
    .subscribe{
      margin-top: 100px;
      width: 100%;
      height: auto;
      background-color:#151B54; 
      padding: 20px;
    }
    .s1{
      color:#FFA500;
      font-weight: 700;
      font-size: 30px;
      font-family: "AvertaStd-Regular",sans-serif;
      text-align:center;
    }
    .textbox{
      border-bottom: 2px solid whitesmoke;
    }
    .textbox input{
      color: whitesmoke;
      font-weight: 700;
      font-size: 20px;
      border-bottom: 3px solid whitesmoke;
      text-align: center;
      font-family: "AvertaStd-Regular",sans-serif;
      background-color: #151B54;
      border:none;
      outline: none;
    
    }
    
   
    
    .s3{
      width:160px;
     border-radius: 50px;
     padding: 10px;
      background-color:#FFA500;
      color: whitesmoke;
      font-weight: 700;
      font-family: "AvertaStd-Regular",sans-serif;
    
    }
  /*--------------------app------------------*/
  .app{
      width: 100%;
      margin-top: 100px;
     background-color:#E5E4E2;
  }
  
  .google{
    border-radius: 50px;
    width:200px;
  }
  .app1{
    font-weight: 700;
    color:#151B54;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .app2{
    color: #FFA500;
    font-weight: 700;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  /*---------------------Question---------------------*/
  .question{
    width: 100%;
    padding:15px;
    margin-top: 100px;
  }
  .que1{
    color: #151B54;
    font-weight: 700;
    font-size: 25px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .que2{
    color: #FFA500;
    font-weight: 700;
    font-size: 12px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .q2{
    border-radius: 30px;
    background-color:#151B54;
    color: whitesmoke;
    padding: 25px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  .btn1{
    width:120px;
   padding: 12px;
    border-radius: 50px;
    background-color:#E8A317;
    color: white;
    font-weight: 600;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .q3{
    border-radius: 30px;
    background-color:#151B54;
    color: whitesmoke;
    padding: 25px;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  .btn2{
    width:120px;
   padding: 12px;
    border-radius: 50px;
    background-color:#E8A317;
    color: white;
    font-weight: 600;
    font-family: "AvertaStd-Regular",sans-serif;
    
  }
  
  /*-----------------------footer----------------*/
  .footer{
      background-color:#151B54;
      color: whitesmoke;
      /*text-align: center;*/
      padding-top: 20px;
      margin-top: 120px;
      font-family: "AvertaStd-Regular",sans-serif;
    
  }
  ul li {
      text-decoration: none;
      list-style-type: none;
  }
  ul li a{
   color: whitesmoke;
  line-height: 30px;
  }
  .f1{
      border-right: 3px solid whitesmoke;
      border-bottom: 2px solid #FFA500;
      padding-left: 20px;
  }
  .toph6{
    font-weight: 700;
    color: #FFA500;
  }
  .social1{
    display: inline;
    font-size: 22px;
    padding-right: 5px;
  }
  .logos{
    text-align: left;
  }
  
  
  
  /*------------------------copyright-------------------*/
  .copyright{
      background-color:#E8A317;
      padding-top: 10px;
  }
  .copy1{
      text-align: center;
      color: whitesmoke;
  }


  /*************************About.html*************************/
 
  .menu{
    background-color: #DCDCDC;

  }
  .menu a{
    color: black;
    font-size: 14px;
    font-weight: 700;
  }

.tops{
  background-image: linear-gradient(rgba(0, 0, 128, 0.5), rgba(0, 0, 128, 0.5)), url("images/delhi.webp");
  background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 100% 100%;
  height:auto;
   

}


.iit h5{
  color: white;
  font-weight: 700;
}
.iit p{
  color: white;
  font-weight: 700;
}

/*.rating2{
  /*width: 400px;
  height: 140px;
  background-color: white;
}*/
.ratings{
  border-right: 2px solid white;
  text-align: center;
  font-size: 45px;
  color:whitesmoke;
  font-weight: 700;
  padding-right: 20px;
}
.ratings i{
  color:#FFA500;
}
.views{
  color:whitesmoke;
  padding-top: 17px;
  font-weight: 700;
  padding-left: 20px; 
}

.a1{
  font-size: 45px;

}
.a2{
  font-size: 15px;
}
.reviews{
  font-weight: 700;
  font-size: 25px;
  padding-left: 20px; 
}
.brochure a{
  padding: 10px;
  color: white;
  font-weight: 700;
  background-color: #00CED1;
  margin-right: 15px;
  border-radius: 20px;
 transition: tranform 0.3s ease;
}

.brochure a:hover{
  text-decoration: none;
 color: black;
 background-color: #FFA500; 
 
  
}








  .content1{
    background-color:#DCDCDC;
    padding: 25px;
  }
  .content2{
    background-color:#DCDCDC;
    padding: 25px;
  }


  .tables{
    background-color: white;
  }
  .table, tr, td{
    border: 1px solid #C0C0C0;
  }
  .tableh6{
    font-size: 20px;
    font-weight: 600;
    color: #00CED1;
  }
  .tablep{
    color: black;
    font-weight: 600;
  }

.sidebar1{
  background-color:#DCDCDC;
  padding: 15px;
  
}
.sidebar2{
  background-color:#DCDCDC;
  padding: 15px;
}

.sections1{
  background-color:whitesmoke;
  
 
}
.sidebars2{
  background-color:whitesmoke; 
  margin: 10px;

}
.sec1b ul li{
 display: inline;
 border:2ps solid black;
 background-color:#00CED1;
 border-radius: 10px;
 padding: 5px;
 color: white;
}
.sec1b ul li a{
  font-size: 12px;
  font-weight: 600;
  color: white;
}
.sec2{

  background-color: #52D017;
  padding: 10px;
  color: white;
}

.sec3{
  background-color: whitesmoke;
  padding: 10px;
  border: 2px solid black;
}
.sec3 a{
  border: 1px dashed gray;
  padding: 10px;
}

.apply{
  border-color: red;
  color: red;
}
.navss{

  background-color:#DCDCDC;
 
}
.navs {
  margin-top: 20px;
  margin-bottom: 20px;
padding: 15px;
 background-color: whitesmoke;
 margin-right: 10px;
 font-weight: 700;
 color: #151B54;
}
.actives{
  background-color:#00BFFF;
}

/*----------------------Blog.html----------------------*/
.blogsw{
  height: 450px;
  width: 100%;
  background-image: url(images/cn-305-banner-1140x640.jpg);
  background-repeat: no-repeat;
 background-position: center;
 background-size:cover;
 margin: 0px;
 margin-top: 20px;
 padding: 0px;

}
.bloghs{
 
  height: 400px;
  
}
.bloghs h1{
  color: white;
  font-weight: bold;
  font-size: 70px;
  padding-bottom: 30px;
  border-bottom: 2px solid white;

}
.techno img{
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.cb {
  border-bottom:1px solid #C0C0C0 ;
  box-shadow: rgba(0,0,0,0.4);
}
.cb ul li{
  display: inline;
  padding: 5px;
}
.cb ul li a{
  color: gray;
  font-size: 15px;
}
.cb ul li a i{
  color: #FFA500;
  font-size: 15px;
}

.search {
  border: 1px solid #C0C0C0;
}

.search h3{
  color: #151B54;
 
  font-family:'AvertaStd-Semibold';
  font-size: 800;
}
.recentpost{
  border: 1px solid #C0C0C0;
}
.recentpost h3{
  font-family:'AvertaStd-Semibold';
  font-size: 800;
}
.recentpost a{
  color: #3A3B3C;
}
.recentpost a:hover{
  color: #FFA500;
}
.auth{
  border-bottom: 1px solid #C0C0C0 ;
}

.follow{
  border: 1px solid #C0C0C0;
  padding: 10px;
}
.follow h3{
  font-family:'AvertaStd-Semibold';
  font-size: 800;
}
.social22{
    display: inline;
    font-size: 20px;
    padding-right: 5px;
}
.social22 a{
  padding:  5px 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
}
/********************************About Us.html*************************/
#header3 .animated{
  border-radius: 20px;
animation: up-down 1s ease-in-out infinite alternate-reverse both;

}



@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}


.serv1{

  height: 350px;

}
.servs h1, .mission h1, .abouth{
  font-size:35px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: black;
  font-family:"AvertaStd-Regular",sans-serif;

}
.numh3, .numh6, .go1 h2, .reviewp1 p, .speaks h3{
  font-size: 27px;
}


.stari i {
  font-size: 60px;
}
.visionp, .texts{
  font-size: 16px;
}

/*.card{
  height: 100%;
  
}*/

.serv2{
  background-color: #00BFFF !important;
  height: 100%;
}
.serv1a{
  border-bottom: none;
  
}
.mission{
  background-color: #E5E4E2;
}

.bottom{
  background-color:whitesmoke;
  height: 150px;
  width: 300px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;

}
.texts{
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  font-family:"AvertaStd-Regular",sans-serif;
  font-size:17px;
  color: white;
}
.bottom i{
  font-size: 60px;
}
 .num{
   background-color:#E5E4E2;
 }
.speaks h3{
  text-align: center;
  font-family:"AvertaStd-Regular",sans-serif;
  font-weight: 700;
}
.numh3{
  text-align: center;
  font-family:"AvertaStd-Regular",sans-serif;
  font-weight: 800;
}
.numh6{
  text-align: center;
  font-family:"AvertaStd-Regular",sans-serif;
  font-weight: 800;
}

.number{
  text-align: center;
  font-family:"AvertaStd-Regular",sans-serif;
}
.number i{
  text-align: center;
  font-size: 50px;
  color: #151B54;
}
.number span{
  color:#FFA500; 
  font-weight: bold;
}




.go h1{
  font-size: 70px;
  font-weight:bold;
  font-family: "AvertaStd-Regular";
}

.google{
  text-align: center; width: 100%;
}
.googleh2{
  text-align: center;
}
.googlep{
  font-size: 30px;
  font-weight: 700;
}
 .google span{
  font-size: 70px; 
  font-weight: 700;
 }
.stari{
  list-style-type: none;
  display: inline;
  
}
.stari i{
  font-size: 60px;
  color: #FFA500;
}
.reviewp1{
  text-align: center; width: 100%;
}
.reviewp1 p{
  font-size: 40px;
  color: #FFA500;
  font-weight: 700;
  font-family:"AvertaStd-Regular" ;
}
.fbr{
  text-align: center;
}

/*****************************Services.html*************************/

.headers-img img{
  width: 100%;
  height: 100%;
}
.counseling1a{
background-color:#E5E4E2;
}
.counseling{
  padding-bottom: 0px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.15);
}
.counseling2{
  padding-bottom: 0px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.15), 0 15px 12px rgba(0,0,0,0.15);
}
.counseling:hover{
 
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    z-index: 2;
   }
   .counseling2:hover{
 
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    z-index: 2;
   }
.body1{
  border: 2px solid black;
  border-top: none;

}
.imgtop{
  opacity: 1.6;
}
.cardh3{
  position:absolute;
  top: 20%;
  left: 30%;
  color:black;
  font-weight: 800;
  font-family:"AvertaStd-Regular",sans-serif;
  
}


/*************************Contact.html**********************/
.reach{

  padding: 0px;
}
.animated1{

animation: up-down 1s ease-in-out infinite alternate-reverse both;

}



@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}


.contacth1{
  background-color: #FFA500;
  font-size: 30px;
  font-family: "AvertaStd-Semibold",sans-serif;
font-weight: 800;
color:white;
padding: 20px;
}
.contactp{
  margin-top: 10px;
  font-size: 10px;
  font-family: "AvertaStd-Semibold",sans-serif;
  line-height: 23px;

}
iframe{
  width: 100%;
  height: 350px;
  /*padding: 0px;
  margin: 0px;*/
}
.loc1{
  text-align: center;
  background-color: #00BFFF;
  padding: 10px;
  color: white;
}
.loc2{
  text-align: center;
}
.locp{

  color: black;
  font-weight: 600;
}
.loclink{
  background-color: #FFA500;
  padding: 10px;
}
.loclink1{
  padding: 13px;
  margin-right: 20px;
 
}
.loclink a i{
  text-align: center;
  font-size: 30px;
  color: white;
}


/***************************Top Courses.html******************/
/*.courses{
  height: 400px;
}*/
/*.courses1{
  
}*/
.courseimg img{
  opacity: 0.5;
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
.courserow{
  position:absolute;
  top: 50%;
  left: 17%;
 }
 .courseh11 h2{
  font-family: "Averta-Semibold";
 }
.topcoursesh1{
  font-weight: 800;
  font-family: "Averta-Semibold";
}
.courses1 img{
object-fit: cover;
}

.choicec{
  margin: 0px;
  padding: 0px;
border-bottom: none;
border: 2px solid #00BFFF;
 
}
.choiceb1{
  border-bottom: none;
}
.choiceb2{
  background-color: #00BFFF;
  border-bottom: none;
}
.choiceh66 a{
  color: whitesmoke;
  font-weight: 800;
  font-family: "Averta-Semibold";
}


/*****************************Entrance*************************/
.entrance{
  height: 400px;
  background-image:url("images/exam.webp");
	background-repeat: no-repeat;
	background-position: center;
  background-size: cover;
	background-attachment: fixed;
  object-fit: cover;
 
}
.entranceh1 h1{
  margin-top: 120px;
  font-family: "Averta-Semibold";
  font-size: 45px;
}
.btn i{
  font-size: 25px;
  color: black;
}
.inputt{
  font-family: "Averta-Semibold";
}

.exploreh1{
  font-weight: 800;
  color: #151B54;
  font-family: "Averta-Semibold";
}
.exploreh2{
  font-weight: 800;
  color:gray;
  font-family: "Averta-Semibold";
}
.exploreb{
  border-bottom: none;
}
.exploreim{
  border-right: 1px solid gray;
  display: block;
  align-items: center;
  justify-content: center;
}
.exploret li a{
  font-size: 12px;
  line-height: 15px;
  color: darkblue;
  font-weight: 600;
}
/***************************News.html*****************************/
.newsi i{
  font-size: 80px;
}
.newsh6{
  font-family: "Averta-Semibold";
  font-weight: 800;
  font-size: 20px;
}
.newsp{
  font-size: 15px;
  font-family: "Averta-Semibold";
  font-weight: 800;
}



/*************************Colleges.html***************************/
.filtersm{
  display: none;
}

.iem{
  position: absolute;
  top: 24%;
  left: 37%;
}
.iecc:hover{
 
  transition: all 0.3s ease !important;
  -webkit-transform: scale(1.1) !important;
  -ms-transform: scale(1.1) !important;
  z-index: 2;
 }
.ie ul li{
  display: inline;
  font-size: 12px;
  font-weight: 800;
  padding: 6px;
}
.ie h6{
  font-size: 13px;
  font-weight: 700;
  text-align: left;
}
.ie p{
  font-size: 6px;
  text-align: left;
}

.ier{
  padding: 6px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.ieb1{
  background-color:#151B54;
  padding: 8px;
  text-align: center;
 
}
.ieb1 a{
  color:white;
  text-decoration: none;
}
.ieb2{
  background-color:#16E2F5;
  padding: 8px;
  text-align: center;
 
}

.ieb2 a{
  color:white;
  text-decoration: none;
}
.appl ul li{
  display: inline;
  font-size: 12px;
  
  padding: 2px;
}
.appl ul li a{
  color:black;
  text-decoration: none;
}
.ieh5{
  text-align: center;
  font-family: "Averta-Semibold";
  font-weight: 800;
}
.ieh6{
  text-align: center;
  font-family: "Averta-Semibold";
  font-weight: 800;
}



